name: Scorecard supply-chain security

on:
  push:
    branches: [main]
  schedule:
    - cron: "30 1 * * 6" # Saturday 01:30 UTC

# publish_results requires read-all at workflow level
permissions: read-all

jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read

    steps:
      - name: Checkout
        # v4.2.2
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Run analysis
        # v2.4.3
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload artifact
        # v4
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: scorecard-sarif
          path: results.sarif
          retention-days: 5

      - name: Upload to code-scanning
        # v3
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6
        with:
          sarif_file: results.sarif
